<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm rounded">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center fw-bold text-primary">
      <img 
        src="favicon.jpg" 
        alt="Logo" 
        width="40" 
        height="40" 
        class="d-inline-block align-text-top rounded-circle border border-dark me-2 shadow-sm"
        style="object-fit: cover;"
      >
      <span class="fs-4 fw-bold" style="color: #1E3A8A; letter-spacing: 1px;font-family: Cambria;">FRECHK</span>

    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" style="font-family: Cambria;font-size: large;" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" style="font-family: Cambria;font-size: large;" [routerLink]="['/fish/List']">FishList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" style="font-family: Cambria;font-size: large;" [routerLink]="['/auth']">Login</a>
        </li>
      </ul>

        <input style="width:215px;" class="form-control me-2" [(ngModel)]="inp_val" type="search" placeholder="Search" aria-label="Search" (keyup.enter)='Search(inp_val)'>
        <button class="btn " style="background-color:#1E3A8A;color:white;" type="button" (click)='Search(inp_val)'>Search</button>
        
    </div>
  </div>
</nav>

<h1 class="text-center " style="color:#1E3A8A;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Available Fish</h1>

<button style="color:white;background-color: #1E3A8A;margin-left: 5px;" class="btn" (click)="goToAdd()">+ Add Fish</button>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let fish of fishL" class="col">
      <div class="card h-100 rounded rounded-3" FishCardBorder (click)="goToFish(fish.id)">
        <img [src]="fish.picture" class="card-img-top" alt="{{fish.tunisian_name}}">
        <div class="card-body text-center bg-light">
          <h5 class="card-title text-black text-center font-monospace">{{fish.tunisian_name}}</h5>
          <p class="card-text text-black text-center">
            <strong>Nom Latin : </strong>{{fish.latin_name}}
          </p>
          <p class="card-text text-black text-center">
            <strong>Habitat : </strong>{{fish.habitat}}
          </p>
          <p class="card-text text-black text-center">
            <strong>Prix : </strong>{{fish.piece_price}}
          </p>
          <button class="btn " style="background-color: #1E3A8A;">Ajouter Au panier</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<h1 class="center">Available Fish</h1>


<div class="container">
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let fish of fishL" class="col">
      <div class="card h-100 rounded rounded-3" FishCardBorder>
        <img [src]="fish.picture" class="card-img-top" alt="{{fish.tunisian_name}}" (click)="onClick(fish.id)">
        <div class="card-body text-center bg-black">
          <h5 class="card-title" style="color:white;text-align: center ;font-family: 'Courier New', Courier, monospace;" >{{fish.tunisian_name}}</h5>
          <p class="card-text" style="color:white;text-align: center ;"> <strong style="font-weight: bold;">Nom Latin : </strong>{{fish.latin_name}}</p>
          <p class="card-text" style="color:white;text-align: center ;"><strong style="font-weight: bold;">Habitat : </strong>{{fish.habitat}}</p>
          <p class="card-text" style="color:white;text-align: center ;"><strong style="font-weight: bold;">Prix : </strong>{{fish.piece_price}}</p>
          <button class="btn btn-primary ">Ajouter Au panier</button>
        </div>
      </div>
    </div>
  </div>
</div>-->